<?xml version="1.0" standalone="no"?>

<!--
   *
   * $Id$
   *
   * Name: config.xml.dist
   *
   * Description:  Example XML configuration.
   *
   * (c) Copyright 2004 Orbitz, Inc.  All Rights Reserved. 
   * Please see the accompanying LICENSE file for license information.
   *
  -->

<!-- Reference our XML DTD. -->

<!DOCTYPE config PUBLIC
    "-//Orbitz, Inc.//DTD CML 1.0 Strict//EN"
    "config.dtd">

<!-- Start Global Config -->

<config>
    <!-- System Binaries -->
    <binary name="logname" value="/usr/bin/logname"/>
    <binary name="scp" value="/usr/bin/scp"/>
    <binary name="ssh" value="/usr/bin/ssh"/>

    <!-- Ping Options -->
    <ping banner="OpenSSH" port="22" timeout="10"/>

    <!-- Server environments, groups, etc. -->

    <!-- Demo Environment: Default servergroup set to "www" -->
    <environment name="demo" default="www">
        <!-- SSH v1 Group -->
        <servergroup name="app" username="tomcat" version="1">
            <server name="app01.somewhere.com" apps="custom1,custom2,custom3" brand="bobco"/>
            <server name="app02.somewhere.com" apps="custom1,custom2,custom3" brand="bobco"/>
            <server name="app03.somewhere.com" apps="custom4,custom5,custom6" brand="fredco"/>
            <server name="app04.somewhere.com" apps="custom4,custom5,custom6" brand="fredco"/>
            <server name="app05.somewhere.com"/>
        </servergroup>

        <!-- SSH v2 Group -->
        <servergroup name="db" username="postgres" version="2">
            <server name="db01.somewhere.com" brand="bobco"/>
            <server name="db02.somewhere.com" brand="bobco"/>
            <server name="db03.somewhere.com" brand="fredco"/>
            <server name="db04.somewhere.com" brand="fredco"/>
            <server name="db05.somewhere.com"/>
        </servergroup>

        <!-- SSH v1 Group -->
        <servergroup name="www" username="apache" version="1">
            <server name="www01.somewhere.com"/>
            <server name="www02.somewhere.com"/>
            <server name="www03.somewhere.com"/>
            <server name="www04.somewhere.com" brand="fredco"/>
            <server name="www05.somewhere.com" brand="fredco"/>
            <server name="www06.somewhere.com" brand="fredco"/>
            <server name="www07.somewhere.com" brand="suzieco"/>
            <server name="www08.somewhere.com" brand="suzieco"/>
            <server name="www09.somewhere.com" brand="suzieco"/>
            <server name="www10.somewhere.com"/>
        </servergroup>
    </environment>

    <!-- Demo2 Environment: Default servergroup set to "www" -->
    <environment name="demo2" default="www">
        <!-- SSH v1 Group -->
        <servergroup name="app2" username="tomcat" version="1">
            <server name="app01.somewhere2.com" apps="custom1,custom2,custom3" brand="bobco"/>
            <server name="app02.somewhere2.com" apps="custom1,custom2,custom3" brand="bobco"/>
            <server name="app03.somewhere2.com" apps="custom4,custom5,custom6" brand="fredco"/>
            <server name="app04.somewhere2.com" apps="custom4,custom5,custom6" brand="fredco"/> 
            <server name="app05.somewhere2.com"/> 
        </servergroup>

        <!-- SSH v2 Group -->
        <servergroup name="db2" username="postgres" version="2">
            <server name="db01.somewhere2.com" brand="bobco"/>  
            <server name="db02.somewhere2.com" brand="bobco"/>  
            <server name="db03.somewhere2.com" brand="fredco"/> 
            <server name="db04.somewhere2.com" brand="fredco"/>  
            <server name="db05.somewhere2.com"/>
        </servergroup>

        <!-- SSH v1 Group -->
        <servergroup name="www2" username="apache" version="1">
            <server name="www01.somewhere2.com" brand="bobco"/>
            <server name="www02.somewhere2.com" brand="bobco"/>
            <server name="www03.somewhere2.com" brand="bobco"/>
            <server name="www04.somewhere2.com" brand="fredco"/>
            <server name="www05.somewhere2.com" brand="fredco"/>
            <server name="www06.somewhere2.com" brand="fredco"/>  
            <server name="www07.somewhere2.com" brand="suzieco"/> 
            <server name="www08.somewhere2.com" brand="suzieco"/> 
            <server name="www09.somewhere2.com" brand="suzieco"/> 
            <server name="www10.somewhere2.com"/>
        </servergroup>
    </environment>

</config>

<!-- End Global Config -->
