<!--

$Id$

-->

<!-- Start Global Config -->

<config>
    <!-- System Binaries -->
    <binary name="logname" value="/usr/bin/logname"/>
    <binary name="ping" value="/bin/ping -c 1"/>
    <binary name="scp" value="/usr/bin/scp -c blowfish"/>
    <binary name="ssh" value="/usr/bin/ssh -c blowfish"/>

    <!-- Logging Options -->
    <logging facility="LOCAL0"/>

    <!-- Server environments, groups, etc. -->

    <!-- Demo Environment -->
    <environment name="demo">
        <servergroup name="www" username="apache">
            <server>www01.somewhere.com</server>
            <server>www02.somewhere.com</server>
            <server>www03.somewhere.com</server>
            <server>www04.somewhere.com</server>
            <server>www05.somewhere.com</server>
            <server>www06.somewhere.com</server>       
            <server>www07.somewhere.com</server>       
            <server>www08.somewhere.com</server>       
            <server>www09.somewhere.com</server>       
            <server>www10.somewhere.com</server>       
        </servergroup>

        <servergroup name="app" username="tomcat">
            <server>app01.somewhere.com</server>
            <server>app02.somewhere.com</server>
            <server>app03.somewhere.com</server>
            <server>app04.somewhere.com</server>
            <server>app05.somewhere.com</server>
        </servergroup>

        <servergroup name="db" username="postgres">
            <server>db01.somewhere.com</server>
            <server>db02.somewhere.com</server>
            <server>db03.somewhere.com</server>
            <server>db04.somewhere.com</server>
            <server>db05.somewhere.com</server>
        </servergroup>
    </environment>
</config>

<!-- End Global Config -->
