<!--

$Id$

-->

<!-- Start Global Config -->

<config>
    <!-- System Binaries -->
    <binary name="logname" value="/usr/bin/logname"/>
    <binary name="scp" value="/usr/bin/scp -c blowfish"/>
    <binary name="ssh" value="/usr/bin/ssh -c blowfish"/>

    <!-- Logging Options -->
    <logging facility="LOCAL0"/>

    <!-- Server environments, groups, etc. -->

    <!-- Demo Environment -->
    <environment name="demo">
        <servergroup name="www" username="apache">
            <server>www01.eg.orbitz.com</server>
            <server>www02.eg.orbitz.com</server>
            <server>www03.eg.orbitz.com</server>
            <server>www04.eg.orbitz.com</server>
            <server>www05.eg.orbitz.com</server>
        </servergroup>

        <servergroup name="app" username="tomcat">
            <server>app01.eg.orbitz.com</server>
            <server>app02.eg.orbitz.com</server>
        </servergroup>
    </environment>
</config>

<!-- End Global Config -->
