######################################################################
#
# $Id$
#
######################################################################

Configuration README
--------------------

This file won't go into extensive detail on the configuration files
listed here, however you'll at least have a starting point.

conf/config.xml -- Main XML configuration file.

This file contains all interesting settings, including binary locations,
server and server group settings, etc.  Most likely this will be the file
of most interest to you.

config/pass_through_cmds.txt -- Simple list of Unix common commands for
the command-line interface to "pass through", that is to simply run as
a good shell would.
